.mat-spacer{
    flex: 1 1 auto;
}
.logo{
    width: 60px;
    height: 60px;
    margin: 0px 10px;
}

mat-toolbar {
    background-color: rgba(1, 4, 136, 0.9);; /* Azul */
    color: white; /* Para asegurar que el texto sea visible */
  }
  