h1 {
    text-align: center;
    margin-top: 3vh;
    color: black;
}

img {
    display: block;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 12vh;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 15vh;
    width: 30vw;
    padding: 7vh 7% 5vh 7%; /* Shortened padding shorthand */
    margin-left: auto;
    margin-right: auto;
}

mat-form-field {
    margin-top: 2vh;
    background-color: white;
    padding: 9px;
}

button {
    margin-top: 3vh;
    border-radius: 5px; /* Use pixels for better consistency */
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.card {
    border-radius: 20px;
    background: #2667b5; /* Background color */
    box-shadow: 0 6px 10px rgba(246, 242, 242, 0.08), 
                0 0 6px rgba(0, 0, 0, .05);
    transition: .3s box-shadow; /* Uncomment if transition effect is needed */
}

.img-user {
    width: 120px;
    height: 120px;
    position: static;
    margin-top: 2vh;
}

.signup1 {
    background-color: rgb(230, 239, 248); /* Light background for the form container */
    padding: 40px;
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 900px) {
    form {
        width: 50vw; /* Adjust form width for smaller screens */
    }
}
