<div class="signup1">
  <h1>Register</h1>
  <form class="card" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" placeholder="email" required>
      <mat-error *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
          Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="{{hidePassword ? 'password' : 'text'}}" formControlName="password" placeholder="Password" required>
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          Please enter a valid password.
      </mat-error>
    </mat-form-field>





<!-- Phone Number -->
<mat-form-field appearance="outline">
  <mat-label>Phone Number</mat-label>
  <input matInput formControlName="phone" placeholder="Phone Number" required>
  <mat-error *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
      Please enter a valid phone number (9 digits).
  </mat-error>
</mat-form-field>


    <!-- Submit Button -->
    <button mat-raised-button color="white" type="submit"  [disabled]="signupForm.invalid" (click)="onSubmit()">Create Account</button>
  </form>
</div>
