<div class="signup1">
  <h1>Register</h1>
  <form class="card" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <!-- username -->
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="username" required>
          <mat-error *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
              Please enter a valid username.
          </mat-error>
        </mat-form-field>
    
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="email" required>
      <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          Please enter a valid email.
      </mat-error>
    </mat-form-field>

       <!-- username -->
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="full_name" placeholder="full_name" required>
              <mat-error *ngIf="signupForm.get('full_name')?.invalid && signupForm.get('full_name')?.touched">
                  Please enter a valid full name.
              </mat-error>
            </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="{{hidePassword ? 'password' : 'text'}}" formControlName="password" placeholder="Password" required>
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          Please enter a valid password.
      </mat-error>
    </mat-form-field>








    <!-- Submit Button -->
    <button mat-raised-button color="white" type="submit"  [disabled]="signupForm.invalid" (click)="onSubmit()">Create Account</button>
  </form>
</div>
